
@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');


:root {
    --background: rgba(27, 36, 74, 1);
    --primary: rgba(154, 171, 216, 1);
    --heading: rgba(238, 238, 238, 1);
    --text: rgba(249, 79, 109, 1);
    --scoreboard: rgba(8, 0, 1, 1);
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body{

    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.scores {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 4rem;
}

h1{
    font-family: "Verdana", sans-serif;
    font-size: 3rem;
    color: var(--heading);
    padding: .5rem;
}
.guest , .home{
   margin: 2rem;
}
#home--btn, #guest--btn{
    font-size: 5.625rem;
    color: var(--text);
    width: 11rem;
    padding: 1rem 0 0 .4rem;
    background-color: black;
    border: none;
    font-family: "Cursed Timer ULiL", sans-serif;
    border-radius: 7px;
}

.operate{
    margin-top: .8rem;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    gap: 1rem;
   
}

.operate > button{
    border: 0;
    padding: 0.5625rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: "Cursed Timer ULiL", sans-serif;

    
}

.save--btn{
    border: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 0.9rem;
    letter-spacing: 0.125em;
}


button:active{
    background-color:rgba(255, 255, 255, 0.275);
    transform: scale(0.96);
}

